@model FARM_ATTENDANCE_SYSTEM.Models.User

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="wrapper">
    <div class="page-wrapper">
        <div class="content">
            <h2 class="mb-4">User Details</h2>

            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.UserGroup)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.UserGroup)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.PhoneNo)
                        </dd>
                    </dl>

                    <div class="mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
